@import url(https://fonts.googleapis.com/css2?family=Splash);
@import url(https://fonts.googleapis.com/css2?family=Grenze);

:root {
--493: url(https://i.postimg.cc/6QZpzcNZ/simon-Uq-Cn-Dyc-3v-A-unsplash.jpg);
--937: url(https://8upload.com/image/c1f46892353b790d/starter-blue_32.png);
--777: url("https://8upload.com/image/4466e92d302af629/Soar-Dunskin-edit-202506201550052.png");
--083: Splash;
--050: Grenze;
--454: #8db4e9;
--420: 141, 180, 233;
--336: #5fa0d2;
--307: 95, 160, 210;
--830: #4778bc;
--821: 71, 120, 188;
--469: url(https://8upload.com/image/cea72190a87a93a5/starter-blue-glitter-pack_pointer.png);
--px594: -100px;
--px842: -50px;
--px362: -25px;
--px148: -20px;
--px275: -10%;
--px352: 0px;
--px920: 5px;
--px104: 10px;
--px767: 15px;
--px389: 20px;
--px908: 25px;
--px627: 50px;
--px242: 75px;
--px909: 100px;
--px999: 1000px;
--val042: 0.5;
--val362: 1.5;
--val324: 150deg;
--val275: -10%;
--val307: -5%;
--val274: 2%;
--val619: 5%;
--val814: 10%;
--val261: 20%;
--val876: 85%;
--s428: 0.5vh;
--s033: 2.5vh;
--s497: 40vh;
--s537: 10vw;
--s846: 11vw;
--s811: 72vw;
--s842: 100vw;
}









































