@import url(https://fonts.googleapis.com/css2?family=Splash);
@import url(https://fonts.googleapis.com/css2?family=Grenze);

:root {
--493: url(https://i.postimg.cc/6QZpzcNZ/simon-Uq-Cn-Dyc-3v-A-unsplash.jpg);
--937: url(https://8upload.com/image/c1f46892353b790d/starter-blue_32.png);
--777: url(https://8upload.com/image/4466e92d302af629/Soar-Dunskin-edit-202506201550052.png);
--083: Splash;
--050: Grenze;
--454: #8db4e9;
--336: #5fa0d2;
--830: #4778bc;
--469: url(https://8upload.com/image/cea72190a87a93a5/starter-blue-glitter-pack_pointer.png);
--px594: -100px;
--px842: -50px;
--px352: 0px;
--px920: 5px;
--px104: 10px;
--px767: 15px;
--px389: 20px;
--px627: 50px;
--px242: 75px;
--px999: 1000px;
--val042: 0.5;
--val362: 1.5;
--val324: 150deg;
--val274: 2%;
--val619: 5%;
--val876: 85%;
}























