:root {
--493: url(https://i.postimg.cc/6QZpzcNZ/simon-Uq-Cn-Dyc-3v-A-unsplash.jpg);
--937: url(https://8upload.com/image/c1f46892353b790d/starter-blue_32.png);
--336: #5fa0d2;
--830: #4778bc;
--469: url(https://8upload.com/image/cea72190a87a93a5/starter-blue-glitter-pack_pointer.png);
--352: 0px;
--920: 5px;
--104: 10px;
}






