a[onclick*=showStore] {
filter: drop-shadow(0px 0px 5px var(--darkbg)); 
.img-fluid {
    clip-path: inset(5% 2% round 10px 10px 10px 10px);
    filter: hue-rotate(150deg) saturate(0.5) brightness(1.5);
}
}