/*Header changing on page load created by Asfamoth #385785 by request of Jericho #9947. Do not attempt to copy, replicate, decompose, modify, or otherwise extract from this code. Doing so is theft.*/
/*Class names and element IDs are property of Horse Eden Eventing.*/

.container-fluid:has(img[src*=HEE_Logo]) { padding: 0px;
  .col-md-6:has(img[src*=HEE_Logo]) { 
z-index: -1; max-height: 520px !important; background-image: url("https://jericho-header.asfamoth.workers.dev") !important; object-fit: cover; filter: brightness(0.25) !important; width: 100%;
}
}
