.d-none:has(img[src*=HEE_Logo]) {
padding: 0px;
}

.col-md-6:has(img[src*=HEE_Logo]) { 
width: 100%; z-index: -1; padding: 0px;
img[src*=HEE_Logo] {
opacity: 1 !important; max-height: 520px !important; content: url("https://jericho-header.asfamoth.workers.dev"); display: block !important; width: 100% !important; height: initial !important; mask-image: none !important; object-fit: cover; margin-top: -15px !important; filter: brightness(0.25) !important;
}
