.dropdown-toggle::after { content: url(https://i.ibb.co/hxS81rdQ/crystal-cursor.png) !important; position: absolute; bottom: 20px; display:block !important; opacity:0;}
.dropdown-toggle:hover::after {opacity: 1;}
