:root {
--cursor: url();
}
.dropdown-toggle::after { content: url(https://i.ibb.co/NdDqzJ28/skyrim-pointer-indicator-s3.png) !important; position: absolute; filter:invert(1) brightness(0.5); bottom: 0px; display:block !important; visibility: hidden; border-top:0px; margin-left: 200px;}
.dropdown-toggle:hover::after {visibility: visible;}
.dropdown-toggle:focus::after {visibility: visible; filter: invert(1) brightness(1);}

.navbar-nav::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 350px, 295px 380px, 265px 410px, 260px 5000px, 255px 5000px, 260px 410px, 290px 380px, 260px 350px, 260px 0px);
}
.navbar-nav:focus-within::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(0% 0%, 260px 0%, 260px 46%, 290px 50%, 260px 54%, 260px 100%, 0% 100%);
}
