:root {
--cursor: url();
}
.dropdown-toggle::after { content: url(https://i.ibb.co/NdDqzJ28/skyrim-pointer-indicator-s3.png) !important; position: absolute; filter:invert(1) brightness(0.5); bottom: 0px; display:block !important; visibility: hidden; border-top:0px; margin-left: 200px;}
.dropdown-toggle:hover::after {visibility: visible;}
.dropdown-toggle:focus::after {visibility: visible; filter: invert(1) brightness(1);}

.navbar-nav::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 410px, 260px 5000px, 255px 5000px, 260px 350px, 260px 0px);
}
/*.navbar-nav:focus-within::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 5000px, 0px 5000px);
}*/

.navbar-nav:has(.nav-item:nth-child(3):hover)::before, .navbar-nav:has(.nav-item:nth-child(4):focus-within)::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 270px, 295px 300px, 265px 330px, 260px 5000px, 255px 5000px, 260px 330px, 290px 300px, 260px 270px, 260px 0px);
}
.navbar-nav:has(.nav-item:nth-child(3):focus-within)::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 270px, 290px 300px, 260px 330px, 260px 5000px, 0px 5000px);
}

.navbar-nav:has(.nav-item:nth-child(4):hover)::before, .navbar-nav:has(.nav-item:nth-child(4):focus-within)::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 350px, 295px 380px, 265px 410px, 260px 5000px, 255px 5000px, 260px 410px, 290px 380px, 260px 350px, 260px 0px);
}
.navbar-nav:has(.nav-item:nth-child(4):focus-within)::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 350px, 290px 380px, 260px 410px, 260px 5000px, 0px 5000px);
}

.gauge tr:has(img[src*=gauge])::before {
  content: "Movement:"
}
