:root {
--cursor: url();
}

table.tablebg.tableshadow::before, .secondary.tableshadow::before, div.tablebg.tableshadow::before, .bl2.br2::before, .dropdown-menu::before { backdrop-filter: blur(1px); }

.dropdown-toggle::after { 
  content: url(https://i.ibb.co/NdDqzJ28/skyrim-pointer-indicator-s3.png) !important; 
  position: absolute; 
  filter:invert(1) brightness(0.5); 
  bottom: 2px; 
  display:block !important; 
  visibility: hidden; 
  border-top:0px; 
  margin-left: 200px;
}
.dropdown-toggle:hover::after {visibility: visible;}
.dropdown-toggle:focus::after {visibility: visible; filter: invert(1) brightness(1);}

.navbar-nav::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 410px, 260px 5000px, 255px 5000px, 260px 350px, 260px 0px);
}
/*.navbar-nav:focus-within::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 5000px, 0px 5000px);
}*/

.navbar-nav:has(.nav-item:nth-child(2):hover)::before, .navbar-nav:has(.nav-item:nth-child(2):focus-within)::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 190px, 295px 220px, 265px 250px, 260px 5000px, 255px 5000px, 260px 250px, 290px 220px, 260px 190px, 260px 0px);
}
.navbar-nav:has(.nav-item:nth-child(2):focus-within)::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 190px, 290px 220px, 260px 250px, 260px 5000px, 0px 5000px);
}

.navbar-nav:has(.nav-item:nth-child(3):hover)::before, .navbar-nav:has(.nav-item:nth-child(3):focus-within)::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 270px, 295px 300px, 265px 330px, 260px 5000px, 255px 5000px, 260px 330px, 290px 300px, 260px 270px, 260px 0px);
}
.navbar-nav:has(.nav-item:nth-child(3):focus-within)::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 270px, 290px 300px, 260px 330px, 260px 5000px, 0px 5000px);
}

.navbar-nav:has(.nav-item:nth-child(4):hover)::before, .navbar-nav:has(.nav-item:nth-child(4):focus-within)::before {
  content: " ";
  background: gray;
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  clip-path: polygon(255px 0px, 265px 0px, 265px 350px, 295px 380px, 265px 410px, 260px 5000px, 255px 5000px, 260px 410px, 290px 380px, 260px 350px, 260px 0px);
}
.navbar-nav:has(.nav-item:nth-child(4):focus-within)::after {
  content: " ";
  background: rgba(255, 255, 255, 0.25);
  height: 100%;
  top: 0px;
  position: fixed;
  left: 50px;
  width: 300px;
  pointer-events: none;
  clip-path: polygon(0px 0px, 260px 0px, 260px 350px, 290px 380px, 260px 410px, 260px 5000px, 0px 5000px);
}

.gauge td:nth-child(1) tr:has(img[src*=gauge])::before {
  content: "Movement:"
}
.gauge td:nth-child(2) tr:has(img[src*=gauge])::before {
  content: "Intelligence:"
}
.gauge td:nth-child(3) tr:has(img[src*=gauge])::before {
  content: "Heart:"
}
.gauge td:nth-child(4) tr:has(img[src*=gauge])::before {
  content: "Scope:"
}
.gauge :nth-child(5) tr:has(img[src*=gauge])::before {
  content: "Speed:"
}
.gauge td:nth-child(6) tr:has(img[src*=gauge])::before {
  content: "Strength:"
}

.gauge tr tr::after {
  position: absolute;
  right: 0px;
}

.gauge tr tr:has(img[src*=gauge1])::after { content: "1"; }
.gauge tr tr:has(img[src*=gauge2])::after { content: "2"; }
.gauge tr tr:has(img[src*=gauge3])::after { content: "3"; }
.gauge tr tr:has(img[src*=gauge4])::after { content: "4"; }
.gauge tr tr:has(img[src*=gauge5])::after { content: "5"; }
.gauge tr tr:has(img[src*=gauge6])::after { content: "6"; }
.gauge tr tr:has(img[src*=gauge7])::after { content: "7"; }
.gauge tr tr:has(img[src*=gauge8])::after { content: "8"; }
.gauge tr tr:has(img[src*=gauge9])::after { content: "9"; }
.gauge tr tr:has(img[src*=gauge10])::after { content: "10"; }
.gauge tr tr:has(img[src*=gauge11])::after { content: "11"; }
.gauge tr tr:has(img[src*=gauge12])::after { content: "12"; }
.gauge tr tr:has(img[src*=gauge13])::after { content: "13"; }
.gauge tr tr:has(img[src*=gauge14])::after { content: "14"; }
.gauge tr tr:has(img[src*=gauge15])::after { content: "15"; }
.gauge tr tr:has(img[src*=gauge16])::after { content: "16"; }
.gauge tr tr:has(img[src*=gauge17])::after { content: "17"; }
.gauge tr tr:has(img[src*=gauge18])::after { content: "18"; }
.gauge tr tr:has(img[src*=gauge19])::after { content: "19"; }
.gauge tr tr:has(img[src*=gauge20])::after { content: "20"; }
